<!-- Button trigger modal -->
<a style="cursor:pointer" data-toggle="modal" data-target="#modal-{{destCode}}" ng-click=getDateGrid()>
	<div ng-transclude></div>
</a>

<!-- Modal -->
<div class="modal fade" id="modal-{{destCode}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Trips to {{destCode}}</h4>
      </div>
      <div class="modal-body">
        <div class="row" ng-repeat="week in monthGrid">
          <div ng-repeat="date in week | filter : { week : '!' }" ng-if="date!=undefined" class="thumbnail" style="display:inline-block">
            <div class="caption">
              <h4>${{date.price}}</h4>
              <p>{{date.date.getDate()}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button ng-click=getDateGrid() type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>