<div class="container-fluid">
  <div class="page-header">
    <h1>Letsgetaway! <small>Find your next adventure...</small></h1>
    <div class="example logo">
        <a href="http://www.skyscanner.net" class="logo">Powered by <img src="http://business.skyscanner.net//Content/images/logo/ssf-white-color.png" width="211" height="47" alt="Skyscanner"></a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Departure Airport</span>
    <input ng-model="originCity" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
  </div>
    <br>
  <button ng-click="addOriginCity($event)"type="button" class="btn btn-outline-secondary">Add Airport</button>
  <ul class="list-group">
    <li ng-repeat="origin in originCities" class="list-group-item">
      <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
      {{origin}}
      <span ng-click="removeOriginCity(origin)" aria-hidden="true" style="float:right">X</span>
    </li>
  </ul>
  <button ng-click="getFlights($event)"type="button" class="btn btn-outline-primary btn-lg">Go!</button>
  <div id="spinner" class="spinner" style="display:none">
    <div class="cube1"></div>
    <div class="cube2"></div>
  </div>
</div>
<div class="container-fluid">
    <div style="float:left;margin:100px">
      <h2>Domestic</h2>
      <div class="scrollable-box">
        <ul class="list-group">
        <div ng-repeat="option in domTripOptions">
          <my-select-dates-directive origins="originCities" dest-code={{option.skyscannerCode}}>
            <li class="list-group-item" style="background-color:#{{getColor(domTripOptions.indexOf(option),domTripOptions.length)}}">
              <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>{{option.destinationName}} ({{option.destinationId}}) --- {{option.totalCost}}
            </li>
          </my-select-dates-directive>
          </div>
        </ul>
      </div>
    </div>
    <div style="float:left;margin:100px">
      <h2>International</h2>
      <div class="scrollable-box">
        <ul class="list-group">
          <div ng-repeat="option in intTripOptions">
            <my-select-dates-directive origins="originCities" dest-code={{option.skyscannerCode}}>
              <li  class="list-group-item" style="background-color:#{{getColor(intTripOptions.indexOf(option),intTripOptions.length)}}">
                <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>{{option.destinationName}} ({{option.destinationId}}) --- {{option.totalCost}} 
              </li>
            </my-select-dates-directive>
          <div>
        </ul>
      </div>
    </div>
</div>

<!-- Google Analytics -->
<script>
  // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  // })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  // ga('create', 'UA-76788557-2', 'auto');
  // ga('send', 'pageview');

</script>