<div class="page-header">
  <h1>Letsgetaway! <small>Find your next adventure...</small></h1>
</div>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Departure City</span>
  <input ng-model="first" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
  <br>
<div class="input-group">
  <span class="input-group-addon" id="basic-addon1">Departure City</span>
  <input ng-model="second" type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
</div>
  <br>
  <button ng-click="query($event)"type="button" class="btn btn-default">Go!</button>
</div>
